<div class="row">
    <div class="col-12 col-md">
        <small class="d-block mb-3 text-muted">© Tracestrack 2015-2020</small>
        <img class="mb-2 rounded" src="/images/logo-sm.png" alt="" width="24" height="24">
    </div>
    <div class="col-6 col-md">
        <h5>Features</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">iOS App</a></li>
            <li><a class="text-muted" href="#">Web</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>Resources</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="https://medium.com/tracestrack">Blog</a></li>
            <li><a class="text-muted" href="https://medium.com/tracestrack">Support</a></li>
        </ul>
    </div>
    <div class="col-6 col-md">
        <h5>About</h5>
        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="/privacy">Privacy</a></li>
            <li><a class="text-muted" href="/terms">Terms</a></li>
        </ul>
    </div>
</div>
