#apple-sign-in-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 111;

}

#apple-sign-out-button {
    position: absolute;
    margin: 0px;
    top: 10px;
    right: 10px;
    z-index: 111;
}

a.close-button {
    border-radius: 15px;
    background: gray;
    width: 20px;
    padding: 5px 5px 5px 5px;
    text-align:center;
    text-decoration: none;
    color: black;
    display:block;
}

.pac-item {
    padding: 10px;
    font-size: 14px;
}

.pac-matched {
    font-size: 14px;
}

.pac-item-query	 {
    font-size: 14px;
}
