body {
}

#root, .full-height, body, html {
    height: 100%;
}

.mapContainer {
    position:absolute;
    top:35px;
    bottom:0px;
    width:calc(100%);
    background: white;
}

.searchBar {
    font-size: 18px;
    width: 370px;
    height: 30px;
    border: none;
    border-color: transparent;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D);
    outline: none;
    padding: 5px 5px 0px 15px;

}

.hidden {
    display: none;
}

.shadow {
    display: block;
    float: left;
    width:385px;
    z-index: 100;
    padding: 0px 10px 0px 0px;


}
