body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

#root, .full-height, body, html {
    height: 100%;
}

.container {
    position:absolute; top:0; bottom:0; width:calc(100%);
    background: red;
}

.searchBar {
    font-size: 16px;
    width: 370px;
    border: none;
    border-color: transparent;
    background-image: url(data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw%3D%3D);
    outline: none;
    padding: 5px 5px 10px 15px;

}

.hidden {
    display: none;
}

.shadow {
    position: absolute;
    left: calc((100% - 380px)/2);
    width:385px;
    height:35px;
    top:10px;
    z-index: 100;
    padding: 5px 10px 5px 0px;
    background: white;
    -webkit-box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.3);
    box-shadow: 1px 1px 1px 1px rgba(100, 100, 100, 0.3);
}
